body{
    background-image: url('https://images.wallpaperscraft.ru/image/tiazheloatlet_sport_shtanga_132906_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    box-sizing: border-box;
}